In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  # Correct import statement
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [104]:
np.random.seed(0)  # For reproducibility

data = {
    'name': ['Student_' + str(i) for i in range(1, 31)],
    'sex': np.random.choice(['F', 'M'], size=30),  # Categorical variable for sex
    'mindset': np.random.choice(['Fair', 'Good', 'Strong', 'Expert'], size=30),  # Categorical variable for mindset
    'math_score': np.random.randint(70, 101, size=30),
    'bio_score': np.random.randint(70, 101, size=30),
    'age': np.random.randint(16, 19, size=30),
    'student_job': np.random.choice(['Part-time', 'None'], size=30),
    'GP': np.round(np.random.uniform(2.5, 4.0, size=30), 2),
    'studytime': np.random.randint(1, 5, size=30)  # Random integer between 1 and 4 hours
}

# Create a DataFrame
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('mydata.csv', index=True)

In [105]:
df.head()

,name,sex,mindset,math_score,bio_score,age,student_job,GP,studytime
0,Student_1,F,Good,73,81,17,Part-time,3.10,4
1,Student_2,M,Fair,100,84,17,None,3.33,2
2,Student_3,M,Expert,81,88,17,Part-time,2.75,3
3,Student_4,F,Fair,88,97,16,None,3.05,2
4,Student_5,M,Expert,93,70,17,None,2.72,4

In [106]:
df=df[['age','bio_score', 'studytime','math_score', 'GP', 'sex', 'mindset']]
df

    age  bio_score  studytime  math_score    GP sex mindset
0    17         81          4          73  3.10   F    Good
1    17         84          2         100  3.33   M    Fair
2    17         88          3          81  2.75   M  Expert
3    16         97          2          88  3.05   F    Fair
4    17         70          4          93  2.72   M  Expert
5    17         84          2          98  3.35   M    Good
6    17         73          4          72  3.56   M  Strong
7    16         91          1          70  2.93   M  Expert
8    17         82          1          70  3.15   M  Expert
9    18         95          4          74  3.63   M    Fair
10   16         80          2          91  3.09   M  Strong
11   17         90          3          75  3.84   F  Expert
12   18         81          1          76  3.46   F    Fair
13   16         74          3          78  3.84   M    Good
14   18         76          4          90  3.52   F  Expert
15   16         74          4          87  3.17   F    Good
16   17         85          3          85  3.97   F  Expert
17   18         90          4          74  2.67   F  Expert
18   18         73          2          79  3.65   F  Strong
19   17         82          2          80  3.12   M  Expert
20   16         74          2          96  3.51   F    Fair
21   17         90          4          94  2.87   M    Good
22   17         78          3          71  2.97   M    Good
23   16         84          1          71  3.95   F    Good
24   18         85          1          77  3.38   F  Expert
25   18         90          2          79  3.49   M    Fair
26   18         73          1          95  3.30   M  Expert
27   18         96          4          73  2.85   M  Strong
28   17         93          3          76  3.09   M    Fair
29   18         85          4          93  3.43   F  Expert

In [107]:
df.mindset.unique()

array(['Good', 'Fair', 'Expert', 'Strong'], dtype=object)

In [108]:
# one way to change categorial to 0 or 1 by code:
df['n_sex']=[0 if i=='F' else 1 for i in df['sex']]

In [109]:
df.head()

   age  bio_score  studytime  math_score    GP sex mindset  n_sex
0   17         81          4          73  3.10   F    Good      0
1   17         84          2         100  3.33   M    Fair      1
2   17         88          3          81  2.75   M  Expert      1
3   16         97          2          88  3.05   F    Fair      0
4   17         70          4          93  2.72   M  Expert      1

In [114]:
X = df.drop(columns=['GP','sex', 'mindset'])

# Define y as the 'GP' column
y = df['GP']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1)

In [116]:
X_train.shape

(27, 5)

In [117]:
model=linear_model.LinearRegression()
model.fit(X_train, y_train)
acc=model.score(X_test, y_test)

In [118]:
print(acc)

0.6662208376592977

In [119]:
model.coef_

array([ 0.00051901, -0.00833703, -0.06163764, -0.0042061 , -0.24578515])

In [120]:
model.intercept_

4.617483835825149

In [121]:
for i in range(len(predicted)):
    print(f"Real : {y_test.iloc[i]}, Predicted: {predicted[i]}")
    print("**********************************************")

Real : 2.87, Predicted: 3.3360643393784635
**********************************************
Real : 3.52, Predicted: 3.5578576952528747
**********************************************
Real : 3.33, Predicted: 3.257526941486801
**********************************************

In [122]:
epoch=30
best = 0

# Loop to find best accuracy
for i in range(epoch):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
    model = linear_model.LinearRegression()
    model.fit(X_train, y_train)
    acc = model.score(X_test, y_test)
    if acc > best:  # Correct logic to find the best accuracy
        best = acc

print(f"Best accuracy: {best}")

Best accuracy: 0.7863267573435471

### A new other way to add categorial features

In [123]:
from sklearn import preprocessing

In [129]:
myPreprocessing=preprocessing.LabelEncoder()
sex=myPreprocessing.fit_transform(list(df['sex']))
mindset=mypreprocessing.fit_transform(list(df['mindset']))

In [130]:
mindset

array([2, 1, 0, 1, 0, 2, 3, 0, 0, 1, 3, 0, 1, 2, 0, 2, 0, 0, 3, 0, 1, 2,
       2, 2, 0, 1, 0, 3, 1, 0])

In [138]:
#Now add new sex and mindset to dataframe use zip 
X = list(zip(df['age'], df['bio_score'], df['studytime'], df['math_score'], mindset, sex))
y=df['GP']

In [139]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1, random_state=1234)
model=linear_model.LinearRegression()
model.fit(X_train, y_train)
score=model.score(X_test,y_test)
score

-6.611806405150349