In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/mohammad.aval/miniconda3/lib/python3.9/site-packages (9.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector as msql

In [ ]:
# we need to know where is my server host, name of user and also password otherwise it does not work
con1=msql.connect(
    host='localhost',
    user='root',
    passwd='1234'
)

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (Errno 61: Connection refused)

In [ ]:
# in rabet rou dorost mikonim
cursor1=con1.cursor()

In [ ]:
# Halla bayad be sursor begim boro felan kar rou bekon
#Firs we make a QUERY
query="SHOW DATABASES"
cursor1.execute(query)

#Halla dakhele in query rou bebinim. each line will be a tuple
for item in cursor1:
    print(item)

# we can also use print(item[0]) So will show the project

## Now we want to make a dtabase or project to add to later add data tables etc

In [ ]:
## MYDATA is in fact the name of database
query="CREAT DATABASE MYDATA"
cursor1.execute(query)

In [ ]:
# NOWE CAN USE SHOW TO SEE THE NEW DATABASE
query="SHOW DATABASES"
cursor1.execute(query)

#Halla dakhele in query rou bebinim. each line will be a tuple
for item in cursor1:
    print(item[0])

## Now it should show MYDATA

### How to delete a database

In [ ]:
query="DROP DATABASE MYDATA"
cursor1.execute(query)

## CHECK A DATABASES EXIST OR NOT (GABAL AZ ESME DATA BASE IF NOT EXIST BEZARIM)

In [ ]:
QUERY='CREAT DATABASE IF NOT EXISTS MYDATA'

### Adding Table

In [ ]:
# CREATE TABLE 'table name'(  )beteen brackets we put columns or features labels
con1=msql.connect(
    host='localhost',
    user='root',
    passwd='1234',
    INJA BAYAD ESME PROJECT HAM BIAAD AGAR BEKHAHIM TABLE BESAZIM YA BEGIRIM
)

In [ ]:
## make table and columsn and name of columns and their type
QUERY='CREAT TABLE  IF NOT EXIST tablename(id INT, name VARCHAR(100), age INT, SSN CHAR(11))'

In [ ]:
query='SHOW TABLES'
CURSOR1.execute(query)

for item in CURSOR1:
    print(item[0])