In [1]:
##Practices
import random as rnd

In [5]:
for i in range(0,5):
    for j in range(0,5):
        print(i,j,end='\t')
    print()

0 0	0 1	0 2	0 3	0 4
1 0	1 1	1 2	1 3	1 4
2 0	2 1	2 2	2 3	2 4
3 0	3 1	3 2	3 3	3 4
4 0	4 1	4 2	4 3	4 4

In [40]:
round(1.26667-1.0, 2)

0.27

In [41]:
dd= int(input('plese enter your value'))
dd

23

In [42]:
bb=str(12)
bb

'12'

In [43]:
aa=float(12)
aa

12.0

In [44]:
ee=int(33.2)
ee

33

In [204]:
x=3>6
if x:
    print("oops") 
else:
    print("It is False")

It is False

In [46]:
list1=[4, 5, 7, 2, 89, 7]

In [26]:
x=int(input("enter number"))
if x in list1:
    print(x)
else:
    print(-1)

-1

In [47]:
t=1
while t<3:
    print(t)
    t+=1
else:
    print('done')

1
2
done

In [28]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [31]:
list(range(3,10,3))

[3, 6, 9]

In [32]:
list(range(10,1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [36]:
list_1=[1, 2, 3, 4, 5]
for num in range(len(list_1)):
    list_1[num]+=3
print(list_1)

[4, 5, 6, 7, 8]

In [175]:
random.seed(123)
random.randint(1,10)

1

In [ ]:
list2=[]
i=0
#rnd.seed(123)
counter=0
while i<10:
    new=rnd.randint(1,10)    
    if new not in list2:
        list2.append(new)
        i+=1
    counter+=1
print(list2)
print(counter)

[1, 5, 2, 7, 9, 6, 3, 4, 10, 8]
29

In [84]:
list1=[3, 4, 5, 6, 7, 8, 9]
for i in range(len(list1)-1):
    new=rnd.randint(i,6)
    list1[i],list1[new]=list1[new], list1[i]
print(list1)

[7, 3, 6, 8, 4, 9, 5]

In [86]:
def mymean(num1, num2):
    avg=(num1+num2)/2
    print(avg)
    

p=mymean(2,4)
#print(p)

3.0

In [95]:
def myfun(x,y):
    x++3
    y-=1
    p=x*y
    return(p)

a=myfun(24,12)
a

264

In [96]:
b+=a
b

268

In [ ]:
def me1(n):
    if n%2==0:
        print('even')
    else:
        print('odd')

me1(11)

odd

In [ ]:
def me1(n):
    if n%2==0:
        return('even')
    else:
        return('odd')

me1(11)

'odd'

In [104]:
## find max value of a list
def me2(list3):
    _max=list3[0]
    for i in list3:
        if i>_max:
            _max=i
    return _max

m=[3, 4, 5, 6,9]
aa=me2(m)
aa

9

In [105]:
def me3(n1):
    return n1**2, n1**3

bbb=me3(3)
bbb

(9, 27)

In [111]:
# a function get list numbers and sum of all numebers
def me4(lll):
    _sum=0
    for i in lll:
        _sum+=i
    return(_sum)

ll=[2,3,4,9]
aaa=me4(ll)
aaa

18

In [121]:
#get a string and reverse it and print it

def me5(_str1):
    length=len(_str1)-1
    for i in range(length,-1,-1):
        print(_str1[i],end='')
    print()

me5('bryan')

nayrb

In [124]:
#get a list remove repetiion and send it back

def _reduce(_li1):
    _li2=[]
    for i in _li1:
        if i not in _li2:
            _li2.append(i)
    return _li2

asa=_reduce([2, 4, 4, 8, 6, 8, 9, 10, 10])
asa

[2, 4, 8, 6, 9, 10]

In [128]:
try:
    x=int(input('a number'))
    y=int(input('a number'))
    print(x//y)
except ValueError:
    print('you did not enter a number')

you did not enter a number

In [ ]:
try:    
    print('hello')
    raise ValueError("you need to type a string")
    print('hi')
except ValueError:
    print('an error')

hello
an errpr

In [138]:
### Assertion
assert 3>4, "Soemthing wrong"

AssertionError: Soemthing wrong

In [141]:
try:
    assert 3>4

except AssertionError:
    print('Something wrong')

Something wrong

In [35]:
f = open('text1.txt')
print(f)

<_io.TextIOWrapper name='text1.txt' mode='r' encoding='UTF-8'>

In [36]:
print(f.read())

Hi thsi is me again for writingand I am trying to append soem text

In [8]:
f=open('text1.txt', 'a')

In [14]:
f.write("and I am trying to append soem text")

ValueError: I/O operation on closed file.

In [37]:
f.close()

In [30]:
f=open('text1.txt', 'r')

In [31]:
print(f.read())

Hi thsi is me again for writingand I am trying to append soem text

In [32]:
#read again from 0 string
f.seek(0)

0

In [33]:
f.close()

In [51]:
f=open('text1.txt', 'r+')

In [46]:
#tell says where is teh handle in file
print(f.tell())

0

In [48]:
print(f.read())

ok ok for writingand I am trying to append soem text

In [49]:
f.write("somethign new!")

14

In [ ]:
# with seek we can go anywhere we need to go.
f.seek(20)

20

In [53]:
f.read()

'for writingand I am trying to append soem textsomethign new!'

In [54]:
f.close()

In [ ]:
file=open('text1.txt','r')
print(file.tell()) # 0 means at th efirst of teh file

0

In [57]:
print(file.readline())

somethign new!ok ok for writingand I am trying to append soem textsomethign new!

In [ ]:
print(file.tell())#End of firt line

81

In [59]:
file.readline(4)

'this'

In [ ]:
file.tell()#81+4=85

85

In [61]:
print(file.readlines())

[' is teh second line\n', 'goodby as third line']

In [ ]:
print(file.tell())#end of file

125

In [63]:
file.seek(0)

0

In [67]:
print(file.readlines())
print(file.tell())

['goodby as third line']
125

In [ ]:
with open('text1.txt',"r") as f2:
    print(f2.read(5))
#with close the file after its loop

somet

In [73]:
f2=open('text1.txt', 'r')

content=f2.read()
print(content)

somethign new!ok ok for writingand I am trying to append soem textsomethign new!
this is teh second line
goodby as third line

In [77]:
# None a type of data
import sys
x=3
y=None
print(sys.getsizeof(x))
print(sys.getsizeof(y))
print(type(y))

28
16
<class 'NoneType'>

In [78]:
students={
    'Ali': 19,
    "hasan":18
}

In [80]:
for i in students:
    print(i)

Ali
hasan

In [81]:
a: {"A":1, "B":2, "C":3}
b: {1:"A", 2:"B", 3:"C"}

In [90]:
def rev_dict(_dict):
    new_dict={}
    for i in _dict:
        new_dict[_dict[i]]=i
    return new_dict

In [92]:
a=rev_dict({"A":1, "B":2, "C":3})

In [94]:
a.items()

dict_items([(1, 'A'), (2, 'B'), (3, 'C')])

In [96]:
for key, value in a.items():
    print(key, "--> ", value)

1 -->  A
2 -->  B
3 -->  C

In [104]:
x=(2, 5.8, True, 'sabr')
print(type(x))

for i in x:
    print(i)
print("*************")
print(x[0])

<class 'tuple'>
2
5.8
True
sabr
*************
2

In [ ]:
y={6, 5, 7, 9, 1}
print(type(y))

print(y) # arrange the data too
print("********************")
yy={5, 4, 4, 6, 6, 8 ,9, 0, 0} #Set removes replicated data
print(yy)

<class 'set'>
{1, 5, 6, 7, 9}
********************
{0, 4, 5, 6, 8, 9}

# Lambda

In [116]:
def myf(x,y):
    return x+y

In [117]:
(lambda x, y: x+y)(2,3)

5

In [118]:
_list=[1,2, 3, 4]
array=np.array(_list)

In [123]:
print(array)# no comma anymoe between data
print(type(array))
print(array.size)

[1 2 3 4]
<class 'numpy.ndarray'>
4

In [127]:
# function date in specific format
def print_day(day, month, year):
    result="%d/%d/%d" %(year, month, day)
    print(result)

In [128]:
print(print_day(12,10, 2004))

2004/10/12
None

In [131]:
#find maximum number

def print_maxi(num1, num2, num3):
    if num1>num2 and num1>num3:
        maxi=num1
    elif num2>num1 and num2>num3:
        maxi=num2
    else:
        maxi=num3
    print("maximum: %d, %d and %d is %d" %(num1, num2, num3, maxi))

In [132]:
print(print_maxi(1, 2, 3))

maximum: 1, 2 and 3 is 3
None

In [133]:
def odd_even(num):
    if num%2!=0:
        print("thsi number is odd")
    else:
        print("This number is even")

In [135]:
print(odd_even(11))

thsi number is odd
None

In [138]:
def zip_code(num):
    if len(num)==5 and num.isdigit():
        print("zipcode is: ", num)
    else:
        print("wrong zip code")

In [140]:
print(zip_code('96123'))

zipcode is:  96123
None

In [145]:
def sum_all(**numbers):
    return sum(numbers.values())

##### The error you're encountering, TypeError: sum_all() takes 0 positional arguments but 3 were given, arises because the function sum_all is defined to accept keyword arguments, not positional arguments. When using **numbers, you need to provide named arguments (i.e., key-value pairs) rather than just values.

In [147]:
print(sum_all(a=23, b=22, c=24))

69

In [155]:
# making a machine calculator
def mycalculator(num1, operator, num2):
    if operator=="+":
        result=num1+num2
    elif operator=="-":
        result=num2-num1
    elif operator=="*":
        result=num1*num2
    elif operator=="/":
        result = num1/num2
    else:
        result="The operator is wrong"
    
    return result

In [156]:
print(mycalculator(12, '+', 20))

32

In [164]:
def extension_get(file_name):
    file_extention=file_name[len(file_name)-3:]
    return file_extention

In [165]:
print(extension_get('mysong.mp3'))

mp3

In [167]:
def secure_card(card_number):
    sec_num="*"*15+card_number[-4:]
    return sec_num

In [168]:
print(secure_card('5342-6537-8734-9812'))

***************9812

In [173]:
def compare_text(str1, str2, is_case_sensitive=False):
    if is_case_sensitive:
        return str1==str2
    else: 
        return str1.lower()==str2.lower()

In [174]:
print(compare_text('tehran', 'Tehran'))

True

In [203]:
def makeLower(str):
    if str.upper() and str.startswith("H") or str.isnumeric():
        print(str.replace("," , " _"))
        print(str.split(" "))
        print(str.find("n"))
        print(str.lower()) 
        print(str.upper())
        print(len(str))
    else: 
        print('you did it')

print(makeLower('HEllo, dolati'))

HEllo _ dolati
['HEllo,', 'dolati']
-1
hello, dolati
HELLO, DOLATI
13
None