In [3]:
import pandas as pd

In [4]:
_str1="i am going to practice! this check numbers"
# count all characters 
print(len(_str1))

42

In [5]:
#count number of words: tedade fazahaye khali + 1
print(_str1.count(" ")+1)

8

In [6]:
# count number of sentences, so count number of dots
print(_str1.count("."))

0

In [7]:
print(len(_str1)-(_str1.count(".")+_str1.count("!")))

41

In [8]:
#replace R to B
print(_str1.replace("r", "B"))

i am going to pBactice! this check numbeBs

In [9]:
str2="I am mo and I am 62 years old"
print()

In [10]:
name="Fo"
age=24
print(f"my name is {name} and I am {age+10} old.")

my name is Fo and I am 34 old.

In [11]:
import datetime

In [12]:
today=datetime.datetime.today()
print(f"{today: %Y: %m %d}")

 2025: 04 20

In [13]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

# Sample DataFrame with predictor variables
data = {
    'X1': np.random.rand(100),
    'X2': np.random.rand(100),
    'X3': np.random.rand(100)
}
df = pd.DataFrame(data)

# Add a constant column for intercept
X = add_constant(df)

# Calculate VIF for each predictor
vif_data = pd.DataFrame()
vif_data['Feature'] = X.columns
vif_data['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

# Display VIF values
print(vif_data)

  Feature       VIF
0   const  9.738294
1      X1  1.057558
2      X2  1.012578
3      X3  1.069762

In [16]:
# Step 1: Create a sample DataFrame with 100 rows and 3 columns
data = {
    'Column1': range(100),
    'Column2': range(100, 200),
    'Column3': range(200, 300)
}
df2 = pd.DataFrame(data)

# Step 2: Generate random numbers between 10 and 250
# Create an array of floats instead of integers
random_numbers = np.random.randint(10, 251, size=100).astype(float)

In [18]:
# Step 3: Introduce NaN values randomly
# Let's say we want to set 10% of the values to NaN
num_nan = int(0.1 * len(random_numbers))  # 10% of 100
nan_indices = np.random.choice(df.index, num_nan, replace=False)  # Get random indices to set as NaN
random_numbers[nan_indices] = np.nan  # Set those indices to NaN

# Step 4: Add the new column to the DataFrame
df2['NewColumn'] = random_numbers
df2.head(4)

   Column1  Column2  Column3  NewColumn
0        0      100      200      203.0
1        1      101      201      140.0
2        2      102      202        NaN
3        3      103      203      250.0

In [27]:

df2.fillna(round(df2['NewColumn'].mean(), 2), inplace=True)

df2['NewColumn'] = df2['NewColumn'].round(2)
df2.sample(5)

    Column1  Column2  Column3  NewColumn
48       48      148      248     157.00
0         0      100      200     203.00
67       67      167      267     133.01
45       45      145      245     237.00
61       61      161      261     201.00

In [29]:
df2.fillna(round(df2['NewColumn'].interpolate(method='linear')))
df2.head(3)

   Column1  Column2  Column3  NewColumn
0        0      100      200     203.00
1        1      101      201     140.00
2        2      102      202     133.01

In [30]:
stat=df2.describe(include='all')
print(stat)

          Column1     Column2     Column3   NewColumn
count  100.000000  100.000000  100.000000  100.000000
mean    49.500000  149.500000  249.500000  133.011800
std     29.011492   29.011492   29.011492   60.747115
min      0.000000  100.000000  200.000000   11.000000
25%     24.750000  124.750000  224.750000   99.750000
50%     49.500000  149.500000  249.500000  133.010000
75%     74.250000  174.250000  274.250000  173.750000
max     99.000000  199.000000  299.000000  250.000000