In [ ]:
# pip install pandas or pip3 install pandas
import pandas as pd

Data types: simple, complex, custome: simple>>>> float, int, None, Boolean (bool)

comlex: string (str), list, dictionary, tuple, set

+, -, *, /, //, %

In [3]:
b = 13
a = 10
c = a-b
c

-3

In [7]:
print('sallam')

sallam

In [9]:
print(10, 100, sep=',')

10,100

In [11]:
print(10, 100, sep='\n')

10
100

In [12]:
print(200, 300, 400, sep='\t')

200	300	400

In [ ]:
# for counter variable in range(int):
for i in range(1,11):
    for j in range(1,11):
        print(i * j, end='')
    print()

12345678910
2468101214161820
36912151821242730
481216202428323640
5101520253035404550
6121824303642485460
7142128354249566370
8162432404856647280
9182736455463728190
102030405060708090100

In [14]:
for i in range(1,11):
    for j in range(1,11):
        print(i * j, end='\t')
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [ ]:
"hi  thsui is my first string"

'hi'

In [ ]:
# docstring
"""
ashdhjdghjd
aHDGSAHDGSHAD
ASKJDHSJDH
"""

'\nashdhjdghjd\naHDGSAHDGSHAD\nASKJDHSJDH\n'

In [6]:
aa = 5/3
aa

1.6666666666666667

In [7]:
b = round(5/3, 4)
b

1.6667

In [8]:
type(b)

float

In [9]:
print(10 // 3)
print(20 / 4)
print(20 // 4)
print(7 // 2)

3
5.0
5
3

In [10]:
# Gives you the remainder
print(10 % 3)
print(20 % 4)
print(7 % 2)

1
0
1

In [ ]:
2b = 14

SyntaxError: invalid decimal literal (3478777125.py, line 1)

In [14]:
b2 = 14
type(b2)

int

Variables coversion

In [19]:
b2 = str(b2)
b2

'14'

In [20]:
z = 'tom'
bb = b2 + z
bb

'14tom'

In [22]:
y1 = '23'
y1 = int(y1)
y1 = y1 + 2
y1

25

In [23]:
y1 = float(y1)
y1

25.0

In [24]:
age = input('please input your age')
age

'20'

In [25]:
age = int(input('please input your age'))
age

20

In [26]:
name = input('your name?')
age = input('your age?')
print(name)
print(age)

Ali
22

In [27]:
print(name + age)

Ali22

In [28]:
print(name + ' ' + age)

Ali 22

strip() → cleans unwanted spaces or characters at the start and end. 
split() → divides a string into a list of parts.

In [30]:
text = '  hello world '
text2 = text.strip()
text2

'hello world'

In [31]:
words = text2.split()
words

['hello', 'world']

In [ ]:
mail = 'students@university.edu'
parts = mail.split('@')
parts
#type(parts)

list

In [36]:
mail = 'students@university.edu'
parts = mail.split('@')
print('username:', parts[0])
print('[psswprd]:', parts[1])

username: students
[psswprd]: university.edu

In [37]:
xx = 2
yy = 3
zz = 4
kk = 2

In [40]:
xx != yy

True

In [41]:
xx == yy

False

In [42]:
xx = yy
xx

3

In [44]:
x = 3>6
x

False

In [45]:
bool('Hassan')

True

In [46]:
bool()

False

In [47]:
'Tom' * 3

'TomTomTom'

In [48]:
'Tom' * 3.1

TypeError: can't multiply sequence by non-int of type 'float'

In [49]:
str1 = 'A'
str2 = 'B'
str3 = str1 + str2
str3

'AB'

For loop

In [52]:
# for "counter" in range('number'):

for i in range(5):
    print(i)

0
1
2
3
4

In [56]:
for i in range(1, 16, 2): # range(start, end, step)
    print('*' * i)

print('done')

*
***
*****
*******
*********
***********
*************
***************
done