#### This is our first session
pycharm, VS Code,

Data type
Varibale (type)
 simple, complex, custome
 Simple: int, float, Boolean (Bool), None

 Complex: string (str), list, tuple, dictionary, set

+, -, *, /, //, %
separate

In [69]:
b = 18
c = 2
a = b % c
a
#print('Hi')

0

In [31]:
print(256, 128, sep=',')

256,128

In [32]:
print(256, 128, sep='\n')

256
128

In [33]:
print(256, 128, sep='\t')

256	128

In [34]:
for i in range(1, 11):
        for j in range(1,11):
            print(i*j, end='')
        print()

12345678910
2468101214161820
36912151821242730
481216202428323640
5101520253035404550
6121824303642485460
7142128354249566370
8162432404856647280
9182736455463728190
102030405060708090100

In [35]:
for i in range(1, 11):
        for j in range(1,11):
            print(i*j, end='\t')
        print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [36]:
mylist = [1, 2, 3]
print(mylist, sep='--')

[1, 2, 3]

In [37]:
a= 12 + 30
a

42

In [38]:
hi

NameError: name 'hi' is not defined

In [ ]:
"hi"

'hi'

In [ ]:
"""
hi
bye

"""

'\nhi\nbye\n\n'

Second session Aug 9th

In [ ]:
aa = 5/3
aa

1.6666666666666667

In [ ]:
a = round(5/3, 4)
a

1.6667

In [ ]:
b = round(1.2-1.0, 1)
b

0.2

In [ ]:
print(type(b))

<class 'float'>

"// "   It divides two numbers and gives the whole number (integer part), dropping the decimal.

In [14]:
print(10 // 3)   # 3, because 10 ÷ 3 = 3.33 → take only 3
print(20 / 4)   # 5, because 20 ÷ 4 = 5 exactly
print(20 // 4)   # 5, because 20 ÷ 4 = 5 exactly
print(7 // 2)    # 3, because 7 ÷ 2 = 3.5 → take only 3

3
5.0
5
3

In [15]:
# % gives you remainder
print(10 % 3)   # 1, because 10 = 3*3 + 1
print(20 % 4)   # 0, because 20 divides evenly by 4
print(7 % 2)    # 1, because 7 = 2*3 + 1

1
0
1

Variable ----> size, type, name ---> never start with numbers, Address---> Drive C, folder c2, 

comment
string (str)

In [ ]:
2b =14

SyntaxError: invalid decimal literal (3478777125.py, line 1)

In [ ]:
b2 = 14 # This is how to name a variable
b2
type(b2)

int

Varibales conversion
int()
str()
float()

In [ ]:
y = 23
z = "Tom"
print(yy = y + z)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
y=str(y)
y

'23'

In [ ]:
yy = z + y
yy
print('his name and his age is: ', yy)

his name and his age is:  Tom23

In [ ]:
y1 = '23'
y1= int(y1)
y1= y1+1
y1

24

In [ ]:
y1 = float(y1)
y1

24.0

In [ ]:
x = 222
X # capital against lower case is not valid

NameError: name 'X' is not defined

In [ ]:
# print, round(12.33333, 1)

input('please type your name') #Always should be string

'222'

In [ ]:
name = input('Type your name: ')
age = input('type your age')

In [ ]:
print(name + age)

ali23

In [ ]:
print(name + ' ' + age)

ali 23

In [ ]:
float(-3)

-3.0

In [ ]:
int(3.14)

3

In [ ]:
name = input('Type your name: ')
age = int(input('type your age'))
print(name)
print(age)

ali
20

strip() → cleans unwanted spaces or characters at the start and end.
split() → divides a string into a list of parts.

In [2]:
text = "   Hello Python World   "
print(text)
# strip() removes spaces (or other characters) from beginning and end
text2 = text.strip()
print("After strip():", text2)

   Hello Python World
After strip(): Hello Python World

In [4]:
# split() breaks the string into a list (default: split by spaces)
words = text.split()
print("After split():", words)

After split(): ['Hello', 'Python', 'World']

In [5]:
# Split based on specific character
email = "student@university.edu"

# Split by the '@' character
parts = email.split("@")
print(parts)
print("Username:", parts[0])
print("Domain:", parts[1])

['student', 'university.edu']
Username: student
Domain: university.edu

this is my practice number 2

Logical operands
>, >=, <, =, (!=), (==)

In [40]:
xx=2
yy=3
zz=4
pp=3 
kk=2

one of our variable type is 'Boolean' -----> bool

In [43]:
xx != yy

True

In [ ]:
xx == yy

False

In [44]:
xx = yy
xx

3

In [48]:
myvar = True
print(type(myvar))

<class 'bool'>

In [49]:
x = 3>6
print(x)

False

In [50]:
bool('hassan')

True

In [51]:
bool()

False

In [52]:
bool(12)

True

simple ---> integer (3), float(3.0), string('Ali'), boolean(True, False)
complex list ----> [1, 2, 3, 5, 98, 'House', 'Ali'], set, tuple, dictionary
custom

In [53]:
# String + , *
'Hassan'+'Ali'

'HassanAli'

str * (int)

In [54]:
'tomy' * 3

'tomytomytomy'

In [55]:
str * (3.1)

TypeError: unsupported operand type(s) for *: 'type' and 'float'

In [57]:
2 * 'tom'

'tomtom'

In [58]:
str1 = 'A'
str2 = "B"
print(str1+str2)

AB

Loop, for loop
identation

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

Explanation of range(1, 16, 2)
start = 1 → loop begins at i = 1
end = 16 → loop stops before 16 (so max value is 15)
step = 2 → each time i increases by 2

In [63]:
for i in range(1, 16, 2): # range(start, end, step)
    print('*' * i)
print('done')

*
***
*****
*******
*********
***********
*************
***************
done

for i in range(1, 51):
Loops through numbers 1, 2, 3, …, 50.
'*' * i -----> Creates a string of stars. -----> Example: if i = 5 → "*****".
end="\r" instead puts the cursor back to the beginning of the same line.
That means each new print overwrites the previous line, giving an animation effect.
time.sleep(0.2)
Pauses the program for 0.2 seconds before the next loop iteration.

In [7]:
import time

for i in range(1, 51):
    print('*' * i, end="\r")
    time.sleep(0.2)

Conditional statemnets
if condition:
if a>b:
    c=a+b
else:
    c= a-b

In [8]:
x = 6
y = 8
if x>y:
    print('Thank you')

In [9]:
x = 6
y = 8
if x<y:
    print('Thank you')

Thank you

In [10]:
x = 6
y = 8
if x>y:
    print('Thank you')
else:
    print('Done')

Done

In [ ]:
x = 6
y = 8
if x>y:
    print('Thank you')
elif x == y:
    print('Bye')

else:
    print('Done')
# Nested if

In [11]:
x = 2
if x<1:
    print('ok')
    print('check2')

print('check')

check

In [ ]:

a = int(input('your number'))
if a>=0:
    print('positive')
else:
    print('Negative')

In [ ]:
a = int(input('your number'))
if a%2 == 0:
    print('Even')
else:
    print("odd")

For Loops

for "counter" in range("number")

In [ ]:
num = int(input("Ttype me a number"))
for i in range(num):
    print(i)

In [16]:
mylist = [1, 2, 3,4, 5]
for items in mylist:
    print(items)
#mylist

1
2
3
4
5

In [18]:
fruits = ['apple', 'orange', 'pear', 'melon']

for fruit in fruits:
    print(fruit)

apple
orange
pear
melon

In [20]:
import random

In [21]:
fruits = ['apple', 'orange', 'pear', 'melon']

for i in range(len(fruits)):
    number = random.randint(10,18)  # ---->Generates a random integer between 10 and 18 (inclusive).
    fruits[i] = fruits[i] + str(number) # ----> a string (str(number)), Concatenates them
print(fruits)

['apple17', 'orange17', 'pear11', 'melon18']

In [22]:
fruits = ['apple', 'orange', 'pear', 'melon']

for i in range(len(fruits)):
    number = random.randint(10,18)
    fruits[i] = fruits[i] + '--> ' +str(number)
print(fruits)

['apple--> 17', 'orange--> 14', 'pear--> 15', 'melon--> 15']

List

In [23]:
type(fruits)

list