In [1]:
age = 20
age = 30
price = 19.95
# multiple names
first_name= 'Mo'
is_online = True
print(age)

30

In [2]:
input('what is your name?')
name = input('what is your name?')
print('hello '+ name)

hello gg

In [ ]:
birth_year=input('enter your birth Year: ')
#age = 2025-birth_year
#print(age)

#birth_year as input is string so we need to convert its type
age = 2025-int(birth_year)
print(age)

35

In [1]:
first = input("First: ")
second = input("Second: ")
sum = first + second
print(sum)

1020

In [2]:
first = input("First: ")
second = input("Second: ")
sum = int(first) + int(second)
print(sum)

30

In [ ]:
first = input("First: ")
second = input("Second: ")
sum = float(first) + float(second)
print(sum)
#print(round(sum),2)

30.299999999999997
30 2

In [ ]:
course='hghjgjg'
# course.
print(course.find('j'))
#print(course.replace('g','4'))

#print('x' in course)

3
h4hj4j4
False

In [13]:
print(10/3)
print(10//3)
print(10%3)

3.3333333333333335
3
1

In [ ]:
x=10
x=10+3
#x+=3

In [14]:
x1=10+3*2
print(x1)
x2=(10+3)*2
print(x2)

16
26

Compare

In [16]:
3==2

3!=2

True

logical operators

In [ ]:
clay =30
if clay>25:
    print("it is a fine soil")
#shift+tab

it is a fine soil

In [18]:
clay =30
if clay<25:
    print("it is a fine soil")

In [20]:
if clay>50:
    print('it is a fine soil')
elif clay>40:
    print('again same results')
else:
    print('done')

done

While loops

In [24]:
i = 1
while i<=5:
    print(i* '*')
    i=i+1

*
**
***
****
*****

In [28]:
names=['john', 'bob', 'mo', 'yafan']
print(names)
print(names[0])
print(names[-1])
print(names[-2])

['john', 'bob', 'mo', 'yafan']
john
yafan
mo

In [29]:
names[0]='adam'
names

['adam', 'bob', 'mo', 'yafan']

In [30]:
names[0:2]

['adam', 'bob']

In [37]:
numbers = [1,2,3,4,5]
numbers.append(6)
numbers

[1, 2, 3, 4, 5, 6]

In [38]:
#numbers.insert(index, value)
numbers.insert(0, -1)
numbers

[-1, 1, 2, 3, 4, 5, 6]

In [39]:
numbers.remove(3)
numbers

[-1, 1, 2, 4, 5, 6]

In [40]:
#Boolean valu
numbers=[1, 2, 3, 4, 5]
4 in numbers

True

In [41]:
len(numbers)

5

In [44]:
#for loop
numbers = [1, 2, 3, 4, 5]
for item in numbers:
    x1 = item+2
    print(x1)

3
4
5
6
7

In [ ]:
#alternate adding 2 and 10
numbers = [1, 2, 3, 4, 5]

for i, item in enumerate(numbers):
    if i % 2 == 0:  # even index (0, 2, 4...)
        print(item + 2)
    else:  # odd index (1, 3, ...)
        print(item + 10)
    
#i → the index of the current item (e.g., 0 for the first, 1 for the second, etc.)

#item → the actual value from the list (e.g., 1, 2, 3...)

In [47]:
numbers = [1, 2, 2, 3, 4, 5, 5, 6, 7, 7]

for i, item in enumerate(numbers):#ou are calculating the remainder when i (the index) is divided by 2.
    if i % 2 == 0:
        print(item + 2)
    else:
        print(item + 10)

3
12
4
13
6
15
7
16
9
17

In [45]:
numbers = [1, 2, 2, 3, 4, 5, 5, 6, 7, 7]
new_numbers = []

for i, item in enumerate(numbers):
    if i % 2 == 0:
        new_numbers.append(item + 2)
    else:
        new_numbers.append(item + 10)

print(new_numbers)

[3, 12, 4, 13, 6, 15, 7, 16, 9, 17]

In [ ]:
# List comprehension
numbers = [1, 2, 2, 3, 4, 5, 5, 6, 7, 7]
new_numbers = [item + 2 if i % 2 == 0 else item + 10 for i, item in enumerate(numbers)]
new_numbers

[3, 12, 4, 13, 6, 15, 7, 16, 9, 17]

In [52]:
numbers =range(5)
for i in numbers:
    print(i)

0
1
2
3
4

In [53]:
#first number to before last number
numbers = range(5, 10)
for i in numbers:
    print(i)

5
6
7
8
9